$black: #21325D;
$blue:  #0999EE;
$semi-blue: #0082CF;
$semi-blue-2: #B9D0F1;
$light-blue: rgba(185, 208, 241, 1);
$light-2-blue: #E7EFFB;
$very-light-blue: rgba(237, 242, 251, 0.5);
$orange: orange;
$white-very-opacity: rgba(255, 255, 255, 0.2);
$grey: rgba(125, 145, 174, 1);
$grey-opacity: rgba(125, 145, 174, 0.35);
$grey-light-opacity: rgba(125, 145, 174, 0.25);
$gray: #5B5F6A;
$light-gray: #7D91AE;
